@charset "UTF-8";

.textarea{
	width: 60%;
	height: 60%;
	background-color: gray;
}

.inputarea{
	background-color: gray;
}

.replyarea{
	color:black;
}

.addtable {
	width: 60%;
	height: 60%;
	
	}

.addtable td {
	color: black;
}

.fa-thumbs-up{
	color: red;
}


.reReplyAddShow{
	color: black;
}

.reReplyModify{
	color: black;
}

.reReplyRemove{
	color: black;
}

.divIndex{
	 display:flex;
  	 align-items:center;
  	 
}

.divSpace{
	width: 50px;
}

.divReply{
	
	display: flex;
	color : black;
}

header {
	display: flex;
	justify-content: space-around;
}


html {
	font-family: "Noto Sans KR", sans-serif;
}


